<?xml version="1.0" encoding="UTF-8"?>
<server description="movie">

    <!-- Enable features -->
    <featureManager>
        <feature>webProfile-10.0</feature>
    </featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9080"
                  httpsPort="-1" />

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true" />

    <!-- Configures the application on a specified context root -->
    <webApplication contextRoot="/movie" location="movie.war" />

    <!-- Default SSL configuration enables trust for default certificates from the Java runtime -->
    <ssl id="defaultSSLConfig" trustDefaultCerts="true" />

    <!-- SQLite Library configuration -->
    <library id="H2Lib">
        <fileset dir="${server.config.dir}/lib/global" includes="*.jar" />
    </library>

    <!-- Database Configuration -->
    <dataSource id="movie" jndiName="jdbc/movie">
        <jdbcDriver libraryRef="H2Lib"
                    javax.sql.DataSource="org.h2.jdbcx.JdbcDataSource" />
        <properties URL="jdbc:h2:mem:moviedb;DB_CLOSE_DELAY=-1" />
    </dataSource>

</server>
